body{
    margin:0%;
}
.box{
    display:block;
}

.small-1{
    background-color:royalblue;
    height:20vh;
}

.small-2{
    background-color:blueviolet;
    height:60vh;
}
.small-3{
    background-color:greenyellow;
    height:100vh;
}
